
<div class="top">
    <ngx-deep-search [dataList]="dataList" [inputLabel]="'search'" [searchFromKeys]="accessKeys" (resultedData)="searchedData($event)"></ngx-deep-search>
</div>

<table>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>EyeColor</th>
      <th>Contact</th>
      <th>Balance</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Favorite Fruit</th>
    </tr>
    <tr *ngFor="let item of filteredList" class="table">
      <td>{{item.name}}</td>
      <td>{{item.company}}</td>
      <td>{{item.eyeColor}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.balance}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.email}}</td>
      <td>{{item.favoriteFruit}}</td>
    </tr>
  </table>