table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.top {
    padding: 10px 10px 10px 10px;
}

::ng-deep .input-container input {
    width: 20% !important;
}